@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Red Hat Text", sans-serif;
}
