$primary-grayish-blue: hsl(237, 18%, 59%);
$primary-soft-red: hsl(345, 95%, 68%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-dark-desaturated-blue: hsl(236, 21%, 26%);
$neutral-very-dark-blue: hsl(235, 16%, 14%);
$neutral-mostly-black-blue: hsl(234, 17%, 12%);
